<%include file="header.html" args="page='/config/fixed', subtitle='Fixed values'"/>

<div class="container">
	<h1>Fix values</h1>

    <p>
        This view allows to force a fixed number of actives per link.
        Please, mind that this is a "soft" enforcement, so the actual number will fluctuate slightly
        around the value.
    </p>

	<table class="table">
		<thead>
			<tr>
				<th style="width: 5em;"></th>
				<th>Source</th>
				<th>Destination</th>
				<th style="width: 10em;">Active</th>
			</tr>
		</thead>
		<tbody id="fixed-list">
		</tbody>
		<tbody id="fixed-add">
			<tr>
			<form id="fixed-add-frm" method="POST">
				<td>
                    <button class="btn btn-link" type="submit">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
				</td>
				<td>
					<input type="text" name="source_se" id="fixed-add-field-source" class="form-control"
						placeholder="Source"/>
				</td>
				<td>
					<input type="text" name="dest_se" id="fixed-add-field-destination" class="form-control"
						placeholder="Destination"/>
				</td>
				<td>
					<input type="number" name="active" class="form-control" value="2" min="2"/>
				</td>
			</form>
			</tr>
		</tbody>
	</table>
</div>

<script src="/js/config/fixed.js" onload="setupFixed()"></script>

<%include file="footer.html"/>
